@inherits LayoutComponentBase

<main>
    @Body
</main>

<footer>
    <div>Copyright &copy; 2024</div>
    <div>•</div>
    <a href="https://github.com/lewpar/TheTruthHurtsMe">GitHub</a>
    <div>•</div>
    <div>Made with ♥ using OpenAI</div>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>