<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>

    <meta name="description" content="Analyze yourself using a suite of tools.">
    <meta name="keywords" content="Spotify, OpenAI, API, Analysis, Quiz">
    <meta name="author" content="Lewis Parmenter">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="TheTruthHurtsMe.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
    <title>The Truth Hurts.me</title>
</head>

<body>
    <Routes/>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>