@page "/"
@rendermode InteractiveServer

<div class="background">
    <div class="container">
        <h1>The Truth Hurts.me</h1>
        
        <div class="items">
            <a class="item" href="/Spotify">
                <div class="name">
                    Spotify
                </div>
                <div class="description">
                    Get an analysis based on your music choices
                </div>
            </a>

            <a class="item" href="/Quiz">
                <div class="name">
                    Quiz
                </div>
                <div class="description">
                    Answer a @_questionCount question quiz and receive a behavioral analysis
                </div>
            </a>
        </div>
    </div>
</div>