.container {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    
    gap: 0.5rem;
    
    align-items: center;
    justify-content: center;
    
    font-size: 1rem;
    
    padding: 1rem;
}

.title {
    display: flex; 
    
    gap: 1rem; 
    
    align-items: center;
    justify-content: center;
}

.form {
    display: flex; 
    flex-direction: column;
    
    width: 50%;
    
    gap: 0.5rem;
    
    padding: 1rem;
}

.slander {
    font-size: 0.75rem;
    
    background-color: rgba(0, 0, 0, 0.25);
    
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    
    padding: 0.5rem;
}

a {
    color: white;
    
    text-decoration: underline;
}

button {
    border: 0;
    border-radius: 5px;
    
    color: white;
    background-color: dodgerblue;
    
    padding: 0.5rem;
    
    transition: filter 0.25s;
}
button:hover {
    filter: brightness(125%);
}
button:active {
    filter: brightness(100%);
}
button:disabled {
    filter: grayscale(100%);
}

@media (max-width: 800px) {
    .container {
        align-items: stretch;
    }
    
    .form {
        width: unset;
    }
}