@page "/"
@rendermode InteractiveServer

<PageTitle>The Truth Hurts.me</PageTitle>

<div class="container">
    <div class="title">
        <h1>The Truth Hurts.me</h1>
    </div>

    <div class="form">
        <label>Spotify Playlist URL</label>
        <input name="spotify-playlist" type="text" @bind="_spotifyUrl" placeholder="https://open.spotify.com/playlist/37i9dQZEVXbJPcfkRz0wJ0"/>
        <button @onclick="HurtThemAsync" disabled="@_slanderInProgress">Hurt Me</button>

        @if (!string.IsNullOrWhiteSpace(_status))
        {
            <div style="color: dodgerblue">
                @_status
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(_error))
        {
            <div style="color: red">
                @_error
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(_slander))
        {
            <div class="slander">
                @_slander
            </div>
        }
    </div>
</div>
<div class="footer">
    <div>Copyright 2024 &copy;</div>
    <div>•</div>
    <a href="https://github.com/lewpar/TheTruthHurtsMe">GitHub</a>
    <div>•</div>
    <div>Made with ♥ using OpenAI & SpotifyAPI</div>
</div>